Flask
Werkzeug
Jinja2
itsdangerous
click
blinker
mysql-connector-python

requests
urllib3
certifi
idna
charset-normalizer

numpy
scipy
scikit-learn
joblib
threadpoolctl
pillow

typing_extensions
colorama
SQLAlchemy
greenlet

flask-mail
gunicorn

psycopg2-binary